@import "default";


.hero-section {
    .inner-container {
        padding: 150px 0;

        .content-wrapper {
            text-align: center;

            .title-image {
                height: 271px;
            }

            h3 {
                margin: 36px 0 0 0;
                font-size: 51px;
                line-height: 66px;
                color: #2F2D30;
            }

            .form-wrapper {
                width: 573px;
                max-width: 100%;
                margin: 0 auto;
                text-align: left;
                padding: 0 40px;

                .instruct {
                    margin: 16px 0 22px 0;
                    font-size: 24px;
                    line-height: 40px;
                    color: #2F2D30;
                    text-align: center;
                }

                .info {
                    margin: 20px 0 0 0;
                    color: #2F2D30;
                    font-size: 16px;
                    line-height: 19px;
                }

                p {
                    background: transparent;
                    color: #2F2D30;

                    .required-color {
                        color: #DA3333;
                    }
                }

                input {
                    width: 98%;
                    margin: 10px 0 0 0;
                    border: 1px solid #6C0CAD66;
                    padding: 15px 0 15px 15px;
                    font-size: 20px;
                    line-height: 24px;
                    border-radius: 9px;
                }

                input::placeholder {
                    font-size: 20px;
                    line-height: 24px;
                    color: #999999;
                }

                textarea {
                    width: 98%;
                    margin: 10px 0 0 0;
                    border: 1px solid #6C0CAD66;
                    padding: 15px 0 15px 15px;
                    font-family: $NeueHD-RMNV;
                    font-size: 20px;
                    line-height: 24px;
                    border-radius: 9px;
                }

                textarea::placeholder {
                    font-size: 20px;
                    line-height: 24px;
                    color: #999999;
                }

                .submit-box {
                    margin: 20px 0 0 0;

                    .submit-btn {
                        width: 100%;
                        background: #6C0CAD;
                        padding: 15px;
                        color: #FFFFFF;
                        border-radius: 50px;
                    }
                }
            }
        }

        .form-box::before {
            content: '';
            display: block;
            width: 132px;
            height: 112px;
            background: url(../assets/images/icons/con-hands.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            float: right;
            margin: -106px 0 0 0;

        }
    }
}



/*Header for Tab CSS starts here*/
@media only screen and (max-width:1200px) {

    .hero-section {
        .inner-container {
            padding: 150px 0 0 0;
    
            .content-wrapper {
                text-align: center;
    
                .title-image {
                    height: 170px;
                }
    
                h3 {
                    margin: 28px 0 0 0;
                    font-size: 32px;
                    line-height: 42px;
                    color: #2F2D30;
                }
    
                .form-wrapper {
                    width: 470px;
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: left;
                    padding: 0;
    
                    .instruct {
                        margin: 16px 0 22px 0;
                        font-size: 20px;
                        line-height: 30px;
                        color: #2F2D30;
                        text-align: center;
                    }
    
                    .info {
                        margin: 20px 0 0 0;
                        color: #2F2D30;
                        font-size: 16px;
                        line-height: 19px;
                    }
    
                    p {
                        background: transparent;
                        color: #2F2D30;
    
                        .required-color {
                            color: #DA3333;
                        }
                    }
    
                    input {
                        width: 98%;
                        margin: 10px 0 0 0;
                        border: 1px solid #6C0CAD66;
                        padding: 15px 0 15px 15px;
                        font-size: 20px;
                        line-height: 24px;
                        border-radius: 9px;
                    }
    
                    input::placeholder {
                        font-size: 20px;
                        line-height: 24px;
                        color: #999999;
                    }
    
                    textarea {
                        width: 98%;
                        margin: 10px 0 0 0;
                        border: 1px solid #6C0CAD66;
                        padding: 15px 0 15px 15px;
                        font-family: $NeueHD-RMNV;
                        font-size: 20px;
                        line-height: 24px;
                        border-radius: 9px;
                    }
    
                    textarea::placeholder {
                        font-size: 20px;
                        line-height: 24px;
                        color: #999999;
                    }
    
                    .submit-box {
                        margin: 20px 0 0 0;
    
                        .submit-btn {
                            width: 100%;
                            background: #6C0CAD;
                            padding: 15px;
                            color: #FFFFFF;
                            border-radius: 50px;
                        }
                    }
                }
            }
    
            .form-box::before {
                content: '';
                display: block;
                width: 132px;
                height: 112px;
                background: url(../assets/images/icons/con-hands.png);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                float: right;
                margin: -106px 0 0 0;
    
            }
        }
    }
}


/*Header for Mobile CSS starts here*/
@media only screen and (max-width:768px) {

    .hero-section {
        .inner-container {
            padding: 150px 0 0 0;
    
            .content-wrapper {
                text-align: center;
    
                .title-image {
                    height: 170px;
                }
    
                h3 {
                    margin: 28px 0 0 0;
                    font-size: 32px;
                    line-height: 42px;
                    color: #2F2D30;
                }
    
                .form-wrapper {
                    width: 470px;
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: left;
                    padding: 0;
    
                    .instruct {
                        margin: 16px 0 22px 0;
                        font-size: 16px;
                        line-height: 24px;
                        color: #2F2D30;
                        text-align: center;
                    }
    
                    .info {
                        margin: 20px 0 0 0;
                        color: #2F2D30;
                        font-size: 16px;
                        line-height: 19px;
                    }
    
                    p {
                        background: transparent;
                        color: #2F2D30;
    
                        .required-color {
                            color: #DA3333;
                        }
                    }
    
                    input {
                        width: 98%;
                        margin: 10px 0 0 0;
                        border: 1px solid #6C0CAD66;
                        padding: 15px 0 15px 15px;
                        font-size: 16px;
                        line-height: 24px;
                        border-radius: 9px;
                    }
    
                    input::placeholder {
                        font-size: 16px;
                        line-height: 24px;
                        color: #999999;
                    }
    
                    textarea {
                        width: 98%;
                        margin: 10px 0 0 0;
                        border: 1px solid #6C0CAD66;
                        padding: 15px 0 15px 15px;
                        font-family: $NeueHD-RMNV;
                        font-size: 16px;
                        line-height: 24px;
                        border-radius: 9px;
                    }
    
                    textarea::placeholder {
                        font-size: 16px;
                        line-height: 24px;
                        color: #999999;
                    }
    
                    .submit-box {
                        margin: 20px 0 0 0;
    
                        .submit-btn {
                            width: 100%;
                            background: #6C0CAD;
                            padding: 15px;
                            color: #FFFFFF;
                            border-radius: 50px;
                        }
                    }
                }
            }
    
            .form-box::before {
                content: '';
                display: block;
                width: 132px;
                height: 112px;
                background: url(../assets/images/icons/con-hands.png);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                float: right;
                margin: -106px 0 0 0;
    
            }
        }
    }

}