/*Fonts Collection*/
@font-face {
  font-family: "NeueHaasDisplay-LT";
  src: url("../assets/font/NeueHaasDisplayLight.ttf") format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplay-MD";
  src: url("../assets/font/NeueHaasDisplayMediu.ttf") format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplay-RMN";
  src: url("../assets/font/NeueHaasDisplayRoman.ttf") format("truetype");
}
@font-face {
  font-family: "Canela-LT";
  src: url("../assets/font/Canela-Light.ttf") format("truetype");
}
@font-face {
  font-family: "TWKLausanne";
  src: url("../assets/font/TWKLausanne-300.ttf") format("truetype");
}
@font-face {
  font-family: "Wilderness-REG";
  src: url("../assets/font/WildernessTypeface-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Wilderness-REG";
  src: url("../assets/font/WildernessTypeface-Regular.ttf") format("truetype");
}
/*Font Variables*/
/*Theme Color*/
/*Default CSS according to Design System*/
* {
  margin: 0;
  padding: 0;
}

html,
body,
section {
  scroll-behavior: smooth;
  width: 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*Default Heading */
h1 {
  font-family: "Canela-LT";
  font-size: 68px;
  font-weight: 300;
  line-height: 88px;
}

h2 {
  font-family: "Canela-LT";
  font-size: 51px;
  font-weight: 300;
  line-height: 66px;
}

h3 {
  font-family: "Canela-LT";
  font-size: 38px;
  line-height: 46px;
  font-weight: 300;
}

h4 {
  font-family: "Canela-LT";
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
}

h6 {
  font-family: "TWKLausanne";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

p {
  font-family: "NeueHaasDisplay-RMN";
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

ul {
  list-style-type: disc;
  margin: 0 0 0 34px;
}
ul li {
  font-family: "NeueHaasDisplay-RMN";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

ol {
  margin: 0 0 0 18px;
}
ol li {
  font-family: "NeueHaasDisplay-RMN";
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 0 0 0 6px;
}

.simple-underline {
  border-bottom: 1px solid #6c0cad;
}

/*Default CTAs*/
.filled-cta {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 15px 30px;
  font-family: "NeueHaasDisplay-MD";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff !important;
  background-color: #6c0cad;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.filled-cta:hover {
  animation-name: wobble-vertical;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes wobble-vertical {
  /*0% { transform: scale3d(0.96,0.96,1); }
  20% { transform: scale3d(1.1,1.1,1); }
  40% { transform: scale3d(0.98,0.98,1); }
  60% { transform: scale3d(1.05,1.05,1); }
  80% { transform: scale3d(1.01,1.01,1); }
  100% { transform: scale3d(1,1,1); }

  0% { transform: scale3d(0.96,1,1); }
  20% { transform: scale3d(1.1,1,1); }
  40% { transform: scale3d(0.98,1,1); }
  60% { transform: scale3d(1.05,1,1); }
  80% { transform: scale3d(1.01,1,1); }
  100% { transform: scale3d(1,1,1); }*/
  0% {
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(1.02, 1, 1);
  }
  40% {
    transform: scale3d(1.01, 1, 1);
  }
  60% {
    transform: scale3d(1.02, 1, 1);
  }
  80% {
    transform: scale3d(1.03, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/*Animation CTAs*/
.filled-cta::before,
.filled-cta::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 100%;
  z-index: -1;
  border-radius: 30px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.filled-cta::before {
  background: #B974E7;
}

.filled-cta::after {
  background: #9742D0;
}

.filled-cta:hover::before,
.filled-cta:hover::after {
  transform: translate3d(100%, 0, 0);
}

.filled-cta:hover::after {
  transition-delay: 0.175s;
}

.wh-filled-cta {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 15px 30px;
  font-family: "NeueHaasDisplay-MD";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #6c0cad !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.hollow-cta {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 15px 30px;
  font-family: "NeueHaasDisplay-MD";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #322F34 !important;
  background-color: transparent;
  border: 1px solid #322F34;
  border-radius: 30px;
}

/*Section(container) BG color*/
.white-bg {
  background-color: transparent;
}
.white-bg h1 {
  color: #1C1A1D;
}
.white-bg h2,
.white-bg h3,
.white-bg h4 {
  color: #232124;
}
.white-bg h6 {
  color: #323133;
}
.white-bg p,
.white-bg ul li {
  color: #2F2D30;
}

.purp-bg {
  background-color: transparent;
}
.purp-bg h1 {
  color: #1C1A1D;
}
.purp-bg h2,
.purp-bg h3,
.purp-bg h4 {
  color: #232124;
}
.purp-bg h6 {
  color: #323133;
}
.purp-bg p,
.purp-bg ul li {
  color: #2F2D30;
}

/*Default Width for Inner Container of Section*/
.inner-container {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
  padding: 150px 0 0 0;
}

.tilted-heading-text {
  transform: rotate(-5.63deg);
}

/*Default FAQ Section CSS*/
.faq-section .inner-container .tilted-heading-text {
  width: 254px;
  margin: 0 0 0 238px;
}
.faq-section .inner-container h2 {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.faq-section .inner-container h2 span.vector-underline {
  display: inline-block;
  width: -moz-min-content;
  width: min-content;
  max-width: 100%;
}
.faq-section .inner-container p {
  width: 512px;
  text-align: center;
  margin: 15px auto 0 auto;
}
.faq-section .inner-container .faq-container {
  width: 100%;
  margin: 55px 0 0 0;
}
.faq-section .inner-container .faq-container .inner-faq-container {
  width: 634px;
  max-width: 100%;
  margin: 0 auto;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper {
  padding: 0 40px;
  border: 1px solid #C6AADA;
  border-radius: 12px;
  margin: 15px 0;
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
  background: rgba(255, 255, 255, 0.62);
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box {
  padding: 15px 0;
  cursor: pointer;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p {
  width: 100%;
  max-width: 100%;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p::after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  background: url("../assets/images/icons/faq-plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin: 0 0px 0 30px;
  padding: 0 6px;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .answer-box {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper.active {
  border-radius: 12px;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper.active .question-box {
  padding: 15px 0;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper.active .question-box p::after {
  background: url("../assets/images/icons/faq-minus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper.active .answer-box {
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
  padding: 10px 0 25px 0;
  border-top: 1px solid #C6AADA;
  transition: height 0.4s ease-in-out;
}
.faq-section .inner-container .faq-container .inner-faq-container .question-wrapper.active .answer-box p {
  width: unset;
  margin: 15px 0 0 0;
  text-align: left;
}

/*background rotating blob*/
.blob {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../assets/images/blob-bg-img-006.png);
  background-size: 45%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: rotate 16s linear infinite;
  z-index: -6;
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*glass background surface*/
.glass-surface {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.09);
}

/*Floating Whatsapp Button starts here*/
.whatsapp-float {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right: 40px;
  background-color: #FFFFFF;
  color: #6C0CAD !important;
  border-radius: 50px;
  text-align: center;
  font-size: 38px;
  box-shadow: -4px -4px 20px rgba(139, 137, 137, 0.25), 4px 4px 20px rgba(139, 137, 137, 0.25);
  transition: box-shadow 0.6s ease-in-out;
  z-index: 100;
}
.whatsapp-float .my-float {
  margin-top: 16px;
}

.whatsapp-float:hover {
  box-shadow: 0 0 0 rgba(139, 137, 137, 0.25), 0 0 0 rgba(139, 137, 137, 0.25);
}

.whatsapp-float:before {
  content: "";
  background: linear-gradient(45deg, #6C0CAD, #9742D0, #B974E7, #6C0CAD, #9742D0, #B974E7);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.whatsapp-float:active {
  color: #000;
}

.whatsapp-float:active:after {
  background: rgb(255, 255, 255);
}

.whatsapp-float:hover:before {
  opacity: 0.5;
}

.whatsapp-float:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*Tablet CSS starts here*/
@media only screen and (max-width: 1200px) {
  /*Default Heading - Tablet*/
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
  h2 {
    font-size: 36px;
    line-height: 46px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  h4 {
    font-size: 26px;
    line-height: 33px;
    font-weight: 300;
  }
  h6 {
    font-size: 13px;
    line-height: 18px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
  ul {
    margin: 0 0 0 25px;
  }
  ul li {
    font-size: 18px;
    line-height: 28px;
  }
  /*Default CTAs -Tablet*/
  .filled-cta {
    padding: 10px 18px;
    font-size: 16px;
    line-height: 19 px;
  }
  .wh-filled-cta {
    padding: 10px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  .hollow-cta {
    padding: 10px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  /*Default Width for Inner Container of Section - Tablet*/
  .inner-container {
    width: 620px;
    padding: 80px 0 0 0;
  }
  /*Default FAQ Section CSS - Tablet*/
  .faq-section .inner-container .tilted-heading-text {
    width: 142px;
    margin: 0 0 0 191px;
  }
  .faq-section .inner-container h2 {
    width: 76px;
  }
  .faq-section .inner-container h2 span.vector-underline::after {
    width: 130%;
    margin: 0 0 0 -18%;
  }
  .faq-section .inner-container p {
    width: 300px;
    margin: 15px auto 0 auto;
  }
  .faq-section .inner-container .faq-container {
    margin: 40px 0 0 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container {
    width: 426px;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper {
    padding: 0 20px;
    margin: 15px 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box {
    padding: 15px 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p::after {
    width: 24px;
    height: 24px;
    margin: 0 0px 0 20px;
    padding: 0 6px;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .answer-box p {
    margin: 15px 0 0 0;
    text-align: left;
  }
}
/*Mobile CSS starts here*/
@media only screen and (max-width: 768px) {
  /*Default Heading - Mobile*/
  h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 300;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
  h4 {
    font-size: 26px;
    font-weight: 300;
    line-height: 33px;
  }
  h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  ul {
    margin: 0 0 0 25px;
  }
  ul li {
    font-size: 16px;
    line-height: 24px;
  }
  /*Default CTAs - Mobile*/
  .filled-cta {
    padding: 14px 25px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
  }
  .wh-filled-cta {
    padding: 11px 25px;
    font-size: 14px;
    line-height: 16px;
  }
  .hollow-cta {
    padding: 11px 25px;
    font-size: 14px;
    line-height: 16px;
  }
  /*Default Width for Inner Container of Section - Mobile*/
  .inner-container {
    width: 280px;
    padding: 0;
  }
  .section-divider {
    display: block;
    width: 85px;
    margin: 64px auto;
    opacity: 0.6;
  }
  .tilted-heading-text {
    display: none;
  }
  .vector-underline::after {
    display: none;
  }
  /*Default FAQ Section CSS - Mobile*/
  .faq-section .inner-container .tilted-heading-text {
    width: 130px;
    margin: 0 0 0 50px;
  }
  .faq-section .inner-container h2 {
    width: 76px;
    font-size: 38px;
    line-height: 46px;
  }
  .faq-section .inner-container h2 span.vector-underline::after {
    display: none;
    width: 130%;
    margin: 0 0 0 -18%;
  }
  .faq-section .inner-container p {
    width: 256px;
    margin: 10px auto 0 auto;
  }
  .faq-section .inner-container .faq-container {
    margin: 35px 0 0 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container {
    width: 100%;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper {
    padding: 0 18px;
    margin: 15px 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box {
    padding: 11px 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .question-box p::after {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0 4px;
  }
  .faq-section .inner-container .faq-container .inner-faq-container .question-wrapper .answer-box p {
    margin: 15px 0 0 0;
    text-align: left;
  }
  .popup-box {
    position: fixed;
    width: 90%;
    height: auto;
    background: #FFFFFF;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
    animation: fadeInPopbox 1s;
    opacity: 1;
  }
  .popup-box .inner-popup-box {
    text-align: center;
  }
  .popup-box .inner-popup-box .close-btn {
    width: 16px;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
  }
  .popup-box .inner-popup-box h3 {
    font-size: 28px;
    line-height: 38px;
    margin: 30px 0 15px 0;
    color: #2F2D30;
  }
  .popup-box .inner-popup-box p {
    background: #FCF8FF;
    color: #2F2D30;
  }
  .popup-box .inner-popup-box .instruct {
    font-size: 16px;
    line-height: 24px;
  }
  .popup-box .inner-popup-box .form-wrapper {
    max-width: 100%;
    margin: 30px 0 0 0;
    padding: 0 20px;
  }
  .popup-box .inner-popup-box .form-wrapper .info {
    margin: 20px 0 0 0;
    color: #2F2D30;
    font-size: 16px;
    line-height: 19px;
  }
  .popup-box .inner-popup-box .form-wrapper p {
    background: transparent;
    color: #2F2D30;
  }
  .popup-box .inner-popup-box .form-wrapper input {
    width: 96%;
    margin: 10px 0 0 0;
    border: 1px solid rgba(108, 12, 173, 0.4);
    padding: 10px 0 10px 10px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 9px;
  }
  .popup-box .inner-popup-box .form-wrapper .submit-box {
    margin: 20px 0 0 0;
  }
  .popup-box .inner-popup-box .form-wrapper .submit-box .submit-btn {
    width: 100%;
    background: #6C0CAD;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 50px;
  }
  .popup-box .inner-popup-box .form-wrapper .note {
    width: 90%;
    margin: 25px auto 20px auto;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .blob {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: unset;
    background: url(../assets/images/blob-bg-img-006.png);
    background-size: 73%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: rotate 16s linear infinite;
    z-index: -6;
    opacity: 1;
  }
  .glass-surface {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.09);
  }
  .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #FFFFFF;
    color: #6C0CAD !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: -4px -4px 20px rgba(139, 137, 137, 0.25), 4px 4px 20px rgba(139, 137, 137, 0.25);
    z-index: 100;
  }
  .whatsapp-float .my-float {
    margin-top: 16px;
  }
}
/*Responsive Hide Elements*/
@media only screen and (min-width: 1201px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .hide-tablet {
    display: none !important;
  }
  .vector-underline::after {
    display: none !important;
  }
  .tilted-heading-text {
    display: none;
  }
  h6 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .hide-mobile br {
    display: none !important;
  }
}
.hero-section .inner-container {
  padding: 150px 0;
}
.hero-section .inner-container .content-wrapper {
  text-align: center;
}
.hero-section .inner-container .content-wrapper .title-image {
  height: 271px;
}
.hero-section .inner-container .content-wrapper h3 {
  margin: 36px 0 0 0;
  font-size: 51px;
  line-height: 66px;
  color: #2F2D30;
}
.hero-section .inner-container .content-wrapper .form-wrapper {
  width: 573px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0 40px;
}
.hero-section .inner-container .content-wrapper .form-wrapper .instruct {
  margin: 16px 0 22px 0;
  font-size: 24px;
  line-height: 40px;
  color: #2F2D30;
  text-align: center;
}
.hero-section .inner-container .content-wrapper .form-wrapper .info {
  margin: 20px 0 0 0;
  color: #2F2D30;
  font-size: 16px;
  line-height: 19px;
}
.hero-section .inner-container .content-wrapper .form-wrapper p {
  background: transparent;
  color: #2F2D30;
}
.hero-section .inner-container .content-wrapper .form-wrapper p .required-color {
  color: #DA3333;
}
.hero-section .inner-container .content-wrapper .form-wrapper input {
  width: 98%;
  margin: 10px 0 0 0;
  border: 1px solid rgba(108, 12, 173, 0.4);
  padding: 15px 0 15px 15px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 9px;
}
.hero-section .inner-container .content-wrapper .form-wrapper input::-moz-placeholder {
  font-size: 20px;
  line-height: 24px;
  color: #999999;
}
.hero-section .inner-container .content-wrapper .form-wrapper input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: #999999;
}
.hero-section .inner-container .content-wrapper .form-wrapper textarea {
  width: 98%;
  margin: 10px 0 0 0;
  border: 1px solid rgba(108, 12, 173, 0.4);
  padding: 15px 0 15px 15px;
  font-family: "NeueHaasDisplay-RMN";
  font-size: 20px;
  line-height: 24px;
  border-radius: 9px;
}
.hero-section .inner-container .content-wrapper .form-wrapper textarea::-moz-placeholder {
  font-size: 20px;
  line-height: 24px;
  color: #999999;
}
.hero-section .inner-container .content-wrapper .form-wrapper textarea::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: #999999;
}
.hero-section .inner-container .content-wrapper .form-wrapper .submit-box {
  margin: 20px 0 0 0;
}
.hero-section .inner-container .content-wrapper .form-wrapper .submit-box .submit-btn {
  width: 100%;
  background: #6C0CAD;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 50px;
}
.hero-section .inner-container .form-box::before {
  content: "";
  display: block;
  width: 132px;
  height: 112px;
  background: url(../assets/images/icons/con-hands.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  margin: -106px 0 0 0;
}

/*Header for Tab CSS starts here*/
@media only screen and (max-width: 1200px) {
  .hero-section .inner-container {
    padding: 150px 0 0 0;
  }
  .hero-section .inner-container .content-wrapper {
    text-align: center;
  }
  .hero-section .inner-container .content-wrapper .title-image {
    height: 170px;
  }
  .hero-section .inner-container .content-wrapper h3 {
    margin: 28px 0 0 0;
    font-size: 32px;
    line-height: 42px;
    color: #2F2D30;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper {
    width: 470px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .instruct {
    margin: 16px 0 22px 0;
    font-size: 20px;
    line-height: 30px;
    color: #2F2D30;
    text-align: center;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .info {
    margin: 20px 0 0 0;
    color: #2F2D30;
    font-size: 16px;
    line-height: 19px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper p {
    background: transparent;
    color: #2F2D30;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper p .required-color {
    color: #DA3333;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input {
    width: 98%;
    margin: 10px 0 0 0;
    border: 1px solid rgba(108, 12, 173, 0.4);
    padding: 15px 0 15px 15px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 9px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input::-moz-placeholder {
    font-size: 20px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input::placeholder {
    font-size: 20px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea {
    width: 98%;
    margin: 10px 0 0 0;
    border: 1px solid rgba(108, 12, 173, 0.4);
    padding: 15px 0 15px 15px;
    font-family: "NeueHaasDisplay-RMN";
    font-size: 20px;
    line-height: 24px;
    border-radius: 9px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea::-moz-placeholder {
    font-size: 20px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea::placeholder {
    font-size: 20px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .submit-box {
    margin: 20px 0 0 0;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .submit-box .submit-btn {
    width: 100%;
    background: #6C0CAD;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 50px;
  }
  .hero-section .inner-container .form-box::before {
    content: "";
    display: block;
    width: 132px;
    height: 112px;
    background: url(../assets/images/icons/con-hands.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    margin: -106px 0 0 0;
  }
}
/*Header for Mobile CSS starts here*/
@media only screen and (max-width: 768px) {
  .hero-section .inner-container {
    padding: 150px 0 0 0;
  }
  .hero-section .inner-container .content-wrapper {
    text-align: center;
  }
  .hero-section .inner-container .content-wrapper .title-image {
    height: 170px;
  }
  .hero-section .inner-container .content-wrapper h3 {
    margin: 28px 0 0 0;
    font-size: 32px;
    line-height: 42px;
    color: #2F2D30;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper {
    width: 470px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .instruct {
    margin: 16px 0 22px 0;
    font-size: 16px;
    line-height: 24px;
    color: #2F2D30;
    text-align: center;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .info {
    margin: 20px 0 0 0;
    color: #2F2D30;
    font-size: 16px;
    line-height: 19px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper p {
    background: transparent;
    color: #2F2D30;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper p .required-color {
    color: #DA3333;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input {
    width: 98%;
    margin: 10px 0 0 0;
    border: 1px solid rgba(108, 12, 173, 0.4);
    padding: 15px 0 15px 15px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 9px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea {
    width: 98%;
    margin: 10px 0 0 0;
    border: 1px solid rgba(108, 12, 173, 0.4);
    padding: 15px 0 15px 15px;
    font-family: "NeueHaasDisplay-RMN";
    font-size: 16px;
    line-height: 24px;
    border-radius: 9px;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .submit-box {
    margin: 20px 0 0 0;
  }
  .hero-section .inner-container .content-wrapper .form-wrapper .submit-box .submit-btn {
    width: 100%;
    background: #6C0CAD;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 50px;
  }
  .hero-section .inner-container .form-box::before {
    content: "";
    display: block;
    width: 132px;
    height: 112px;
    background: url(../assets/images/icons/con-hands.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    margin: -106px 0 0 0;
  }
}/*# sourceMappingURL=contact.css.map */